
SOMIOD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOMIOD/obj/Debug/SOMIOD.csproj.AssemblyReference.cache
SOMIOD/obj/Debug/SOMIOD.csproj.CoreCompileInputs.cache
SOMIOD/obj/Debug/SOMIOD.csproj.FileListAbsolute.txt
SOMIOD/obj/Debug/SOMIOD.dll
SOMIOD/obj/Debug/SOMIOD.pdb
SOMIOD/bin/SOMIOD.pdb
SOMIOD/bin/SOMIOD.dll
SOMIOD/App_Data/Information_log.ldf
SOMIOD/App_Data/Information.mdf
SOMIOD/.vs/SOMIOD/v17/.suo
SOMIOD/.vs/SOMIOD/FileContentIndex/ea30884c-613b-41d7-ad89-aa7b154e71f1.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/dad7a8fc-9c8e-4e82-acde-6dd12ab6a834.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/d3559755-6cbb-43c1-a4d5-708eef853c14.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/c0d21e1b-dd09-43bd-b025-38bb8bf4590e.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/abc5d8bd-63ea-4d8b-a4c6-39631fde18d8.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/6ad8bb89-6668-4719-9f8c-e295d82f08f7.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/686b5d80-e989-4a8b-9134-226663b98490.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/6561abe8-2dbf-424a-a2f0-13c23a6b4e26.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/275b37a9-3308-473b-bbf0-a3705c8a2798.vsidx
SOMIOD/.vs/SOMIOD/config/applicationhost.config
SOMIOD/.vs/SOMIOD/FileContentIndex/5ea7ef4e-1522-475f-8a73-ccb220fb9c44.vsidx
SOMIOD/.vs/SOMIOD.csproj.dtbcache.json
ClientApplicationsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClientApplicationsApp/obj/Debug/ClientApplicationsApp.csproj.AssemblyReference.cache
ClientApplicationsApp/.vs/ClientApplicationsApp.csproj.dtbcache.json
SOMIOD/.vs/SOMIOD/FileContentIndex/ea30884c-613b-41d7-ad89-aa7b154e71f1.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/dad7a8fc-9c8e-4e82-acde-6dd12ab6a834.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/6ad8bb89-6668-4719-9f8c-e295d82f08f7.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/686b5d80-e989-4a8b-9134-226663b98490.vsidx
SOMIOD/.vs/SOMIOD/FileContentIndex/6561abe8-2dbf-424a-a2f0-13c23a6b4e26.vsidx
SOMIOD/.vs/SOMIOD/config/applicationhost.config
SOMIOD/.vs/SOMIOD.csproj.dtbcache.json
ClientApplicationsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClientApplicationsApp/obj/Debug/ClientApplicationsApp.csproj.AssemblyReference.cache
